.notification {
  display: flex;
  align-items: center;
  background: white;
  padding: 8px 16px;
  border-bottom: 1px solid rgb(235,235,235);
}

.notification small{
  color: #999999;
  font-weight: bold;
}

.notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification-content > p {
  margin: 0;
  line-height: 1.4;
}

.notification-actions {
  color: #999999;
  opacity: 0;
  margin-left: 16px;
  font-size: 14px;
}

.notification-actions > a{
  color: #999999;
  text-decoration: none;
}

.notification:hover > .notification-actions {
  color: #999999;
  opacity: 0.75;
  transition: 0.3s;
}

.notification-actions:hover > a{
  color: black;
  opacity: 1;
  transition: 0.3s;
}
