<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>


<h1>Hacker News</h1>

<div class="container">
<h2>Here are the Posts</h2>
<% @posts.each do |post| %>

  <div class="row">
    <div class="card mt-2 mb-2 col" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title"><%= post.title %></h3>
        <h4 class="card-subtitle mb-2 text-muted"><%= post.url %></h4>
        <h5 class="card-text"><%= post.votes%></h5>
      </div>
    </div>
  </div>
<% end %>
</div>
