.button {
  border: 2.5px solid rgb(63, 144, 236);
  color:rgb(63, 144, 236);
  border-radius: 25px;
  padding: 6px 12px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.button-margin {
  margin-top: 25px;
}

.button-special {
  background-color: white;
  color: rgb(63, 144, 236);
  border-radius: 25px;
  padding: 12px 18px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.button-special-margin {
  margin-top: 50px;
}
